*{
    margin:0;
    padding: 0;
    text-align :center;
}

h1 {
    background-color:#ffbf57;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;

}

.choice:hover{
   cursor: pointer;
   opacity: .5;
}

img{
    height: 150px;
    width: 150px; 
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #313638;
    margin-top: 5rem;
    gap:3rem;
}

#user-score, #comp-score{
    font-size: 3rem;
}

.msg-box{
    margin-top: 5rem;
}
#msg{
    background-color: #ffbf57;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1.5rem;;
}